@charset "utf-8";

// Third-party
@import '../lib/bulma/sass/utilities/_all';
@import '../lib/bulma/sass/base/_all';
@import '../lib/bulma/sass/elements/_all';
@import '../lib/bulma/sass/form/_all';
//@import '../lib/bulma/sass/components/_all';
@import '../lib/bulma/sass/grid/_all';
//@import '../lib/bulma/sass/layout/_all';

// rgk
@import '_vars';
@import '_elements';

// Global fonts, colors
body, button, input, select, textarea {
  color: $black;
  font-family: $text;
}
html {
  overflow-y: unset;
}

body {
  background: $white;
  background-size: cover;
  font-size: 1.2em;
  font-size: clamp(16px, 4vw, 22px); // more modern browsers only
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    @if $i < 5 {
      color: $brown;
    } @else {
      color: $blue;
      font-weight: bold;
    }
    font-family: $script;
    font-size: $base-font-size + max(0.5, $heading-scale * (6 - $i));

    &.centered {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &.bottom {
      bottom: 1em;
    }
  }
}

div.container nav,
nav {
  a.button {
    background: transparent;
    color: $brown;
    font-family: $stamp;
    font-weight: normal;
    transition: color 0.5s, border-color 0.5s;
    text-decoration: none;

    &:hover {
      $c: darken($yellow, 30%);
      color: $c;
      border-color: $c;
    }
  }
}

main,
div.container {
  //background: $green;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2em 1em;
  max-width: $bp-desktop;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;

  > div.centered {
    width: 100%;
  }

  table {
    box-sizing: border-box;
  }


  a {
    color: $color-links;
    text-decoration: underline;
    transition: color 500ms;

    &:hover {
      color: lighten($color-links, 10%);
    }

    &:visited {
      color: darken($color-links, 10%);

      &:hover {
        color: lighten($color-links, 10%);
      }

    }
  }

}

footer {
  background: url('/static/img/rock_transparent.png') top center $white;
  background-size: cover;
  bottom: 0;
  height: 100vw;
  margin-top: -50vw;
  width: 100%;

  div {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  span {
    @extend em;
    @extend .no-highlight;

    color: $yellow;
    font-size: 2.4vw;
    font-size: clamp(8px, 2.4vw, 34px);  // more modern browsers only
    position: absolute;
    bottom: 2%;
    left: 20%;

  }
}

//
// Page-specific styles
//

// Nav highlighter
$pages: 'photos', 'events', 'travel', 'events', 'party', 'registry';

@each $page in $pages {

  body.#{$page} [data-page="#{$page}"] {
    border-bottom: 0px !important;
    border-top: 0px !important;
    color: darken($yellow, 30%);
  }

}

// Main page
body.homepage {

  // Header & date/location
  h1 + h4 {
    margin-bottom: 0.5em;
  }

  // Hashtag
  blockquote {
    font-size: 0.7em;
  }

  nav .button[data-page="homepage"] {
    display: none !important;
  }

}

body:not(.homepage) {
  nav {
    height: auto;
    margin: 0 auto 1em;
    text-align: center;

    &:not(.active) {
      display: none;
      height: 0;
    }

    .button {
      border: 0;
      margin-right: 1em;

      &:not(.active) {
        border-bottom: 1px solid $brown;
        border-top: 1px solid $brown;
        border-radius: 2px;
      }
    }


  @media screen and (min-width: $bp-tablet) {
    border-spacing: .5em;
    border-top-color: $brown;
    display: table;
    table-layout: fixed;
    width: 100%;

      a.button {
        background: transparent;
        color: $brown;
        display: table-cell;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

body.dark {

  &, footer {
    background: $grey-darker;
  }

  h1 {
    color: $white;
  }
}

// Events page
body.events .event {

  h2 {
    margin: 1em 0 -0.3em;
  }

  h5 {
    font-weight: normal;
    margin-left: 0.75em;
  }

  table {
    $lmarg: 1.5em;
    margin-left: $lmarg;
    width: calc(100% - #{$lmarg});

    tr, th, td {
      padding: 0.6em 0.4em 0.6em 0;
    }

    th {
      width: 20%;
    }

    tr {
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid $grey;
      }
    }
  }

}

// Travel Page

body.travel {

  .map {
    @extend .framed-photo;
    background: #fff;
    padding: 0;
    margin-bottom: 2em;
  }

  p {
    margin-bottom: 1em;
  }

}

// Wedding Party
.party-people {
  $spacing: 2em;
  .party-person {
    display: flow-root;
    margin: $spacing 0;
    text-align: center;

    img {
        border: 1px solid $brown;
        border-radius: 5%;
        width: 220px;
    }

    @media (min-width: $bp-tablet) {
      text-align: left;

      img {
        background: $white;
        float: right;
      }

      &:nth-child(2n) {
        text-align: right;
        img { float: left }
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $brown;
    }

    h2 {
      margin-bottom: -0.25em;
    }
    h5 {
      font-family: $stamp;
      font-weight: normal;
      margin-bottom: $spacing;
    }
  }
}