@charset "utf-8";

// Third-party
@import '../lib/bulma/sass/utilities/_all';
@import '../lib/bulma/sass/base/_all';
@import '../lib/bulma/sass/elements/_all';
@import '../lib/bulma/sass/form/_all';
//@import '../lib/bulma/sass/components/_all';
@import '../lib/bulma/sass/grid/_all';
//@import '../lib/bulma/sass/layout/_all';

// rgk
@import '_vars';

// Global fonts, colors
body, button, input, select, textarea {
  color: $black;
  font-family: $text;
}

strong {
  color: unset;
  font-weight: 700;
}

em, .em {
  font-family: $handwritten;
}

html {
  overflow-y: unset;
}

body {
  background: url('https://www.thesebastianvail.com/sites/default/files/Getalong%20Rd_0.JPG') no-repeat center center $black;
  background-size: cover;
  min-height: 100vh;
}

@for $i from 1 through 6 {
  h#{$i} {
    @if $i < 5 {
      color: $brown;
    } @else {
      color: $blue;
      font-weight: bold;
    }
    font-family: $script;
    font-size: $base-font-size + $heading-scale * (6 - $i);

    &.centered {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &.bottom {
      bottom: 5%;
    }
  }
}

div.container {
  //background: $green;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;

  position: fixed;
  //display: -webkit-box;
  //display: -webkit-flex;
  //display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  //display: -webkit-box;
  //display: -webkit-flex;
  //display: -ms-flexbox;
  //display: flex;
  opacity: 0;
  visibility: hidden;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &.modal-fx-3dSign.modal {
    -webkit-perspective: 1300px;
            perspective: 1300px;

    .modal-content {
      position: relative;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform: rotateX(-60deg);
              transform: rotateX(-60deg);
      -webkit-transform-origin: 50% 0;
           -o-transform-origin: 50% 0;
              transform-origin: 50% 0;
      opacity: 0;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    &.is-active .modal-content {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      opacity: 1;
    }
  }
}

.modal-background {
  background-color: rgba($black, 0.86);
  backdrop-filter: blur(4px);
  opacity: 1;
  height: 100vh;
  width: 100vw;

  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
