@charset "utf-8";

// Third-party
@import '../lib/bulma/sass/utilities/_all';
@import '../lib/bulma/sass/base/_all';
@import '../lib/bulma/sass/elements/_all';
@import '../lib/bulma/sass/form/_all';
//@import '../lib/bulma/sass/components/_all';
@import '../lib/bulma/sass/grid/_all';
//@import '../lib/bulma/sass/layout/_all';

// rgk
@import '_vars';
@import '_elements';

// Global fonts, colors
body, button, input, select, textarea {
  color: $black;
  font-family: $text;
}

strong {
  color: unset;
  font-weight: 700;
}

.script {
  font-family: $script;
}
.stamp {
  font-family: $stamp;
}

em, .em {
  font-family: $handwritten;
}

html {
  background: $white;
  overflow-y: unset;
}

body {
  background: $white;
  background-size: cover;
  font-size: clamp(16px, 4vw, 22px);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    @if $i < 5 {
      color: $brown;
    } @else {
      color: $blue;
      font-weight: bold;
    }
    font-family: $script;
    font-size: $base-font-size + $heading-scale * (6 - $i);

    &.centered {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &.bottom {
      bottom: 1em;
    }
  }
}

main,
div.container {
  //background: $green;
  box-sizing: border-box;
  margin: 2em auto;
  padding: 1em;
  max-width: $bp-desktop;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

footer {
  background: url('/static/img/rock_transparent.png') top center $white;
  background-size: cover;
  bottom: 0;
  height: 100vw;
  margin-top: -50vw;
  width: 100%;

  div {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  span {
    @extend em;
    color: $yellow;
    position: absolute;
    bottom: 2%;
    left: 20%;

  }
}
