@charset "utf-8";
@import '_vars';

div.container {

  #bigtext {
    background: -webkit-linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
    //background: -webkit-linear-gradient(#f9f295, #e0aa3e, #f7ef8a, #b88a44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .save-the-date.modal {
    margin: 0 auto;
    padding: 3em;

    &, .modal-content {
      height: fit-content;
      width: fit-content;
    }

    &.one {
      top: 20%;
    }
    &.two {
      top: 40%;
      right: 10%;
    }
    &, p, div {
      color: $white;
    }
  }

}
