<div class="field is-grouped">
    <div class="control has-icons-left has-icons-right is-expanded">
        <form action="/f?task=login">
        <input type="hidden" name="task" value="login" />
        <input type="text" class="input float-left is-info is-large" name="party_code" id="party_code" placeholder="Mr. & Mrs." />
        <span class="icon is-medium is-left">
          <i class="fa fa-heart"></i>
        </span>
    </div>
    <p class="control is-fullheight">
        <button type="submit" value="Log In" class="button is-success is-fullheight">Log In</button>
    </p>
</div>
