<div id="nav-button"><div></div></div>
<nav class="columns">
    <a class="column button" href="/" alt="Kathryn & Rob's Wedding Website" data-page="homepage">Home</a>
    <a class="column button" href="/events" alt="Details about the location, date & time of our ceremony, reception and our welcome cocktail hour." data-page="events">Events</a>
    <a class="column button" href="/travel" alt="Read about all of the ways to get to our wedding, as well as some fun ideas of things to do once you get here!" data-page="travel">Travel</a>
    <a class="column button" href="/party" alt="" data-page="party">Wedding Party</a>
    <a class="column button" href="/photos" alt="" data-page="photos">Photos (Updated!)</a>
    <a class="column button" href="/registry" alt="" data-page="registry">Registry</a>
</nav>
