<nav class="active">
    <a class="button" href="/" alt="Kathryn & Rob's Wedding Website" data-page="homepage">Home</a>
    <a class="button" href="/events" alt="Details about the location, date & time of our ceremony, reception and our welcome cocktail hour." data-page="events">Event Information</a>
    <a class="button" href="/travel" alt="Read about all of the ways to get to our wedding, as well as some fun ideas of things to do once you get here!" data-page="travel">Travel Information</a>
    <a class="button" href="/party" alt="" data-page="party">Wedding Party</a>
    <a class="button" href="/photos" alt="" data-page="photos">Photos</a>
    <a class="button" href="/registry" alt="" data-page="registry">Registry</a>
</nav>
