{% extends 'base.html' %}
{% load static %}
{% block metatags %}<meta name="canonical" content="https://kathrynandrob.com" />{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/savedate.css' %}" type="text/css" />
{% endblock %}

{% block title %}Save Our Date{% endblock %}

{% block beforecontainer %}
{#<div class="modal-background"></div>#}
{% endblock %}
{% block pagecontent %}
        <h4 class="has-text-centered">{{ date }} &middot; Vail, CO</h4>

        <p>Welcome{{ repeat }}, {{ name }}!</p>
        <p>Thank you for joining in celebration of our upcoming wedding. We are so excited to share this special day with you. Please use this website to help you plan the details of your journey to Vail. We can't wait to celebrate with all of you this fall!</p>
    <p>We will continue to update this website as we get closer to our big day, so please check back later (<a href="mailto:hello@kathrynandrob.com">or let us know!</a>) if you can't find what you're looking for.</p>
        <p>With love,</p>
        <p>Kathryn & Rob</p>
    {% if rehearsal is True %}
        <p class="special-note">P.S. Since you're invited to the rehearsal dinner, you'll find additional information on the Events page!</p>
    {% endif %}
    <div class="framed-photo">
        <img src="/static/img/gallery/{{ main_image }}" alt="" />
    </div>
    <blockquote>
        <h3 class="has-text-centered"><em>#grablifebythekimballs</em></h3>
    </blockquote>
    {% if not logged_in %}
        <p class="special-note">To help us personalize the information you'll find here, please enter your party's name as it appears on your "Save the Date" envelope below:</p>
        {% include '_form.html' %}
        <br />
    {% endif %}
{% endblock %}
