{% extends 'base.html' %}
{% load static %}
{% block metatags %}<meta name="canonical" content="https://www.kathrynandrob.com" />{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/savedate.css' %}" type="text/css" />
{% endblock %}

{% block title %}Save Our Date{% endblock %}

{% block beforecontainer %}
{#<div class="modal-background"></div>#}
{% endblock %}
{% block pagecontent %}
        <h4 class="has-text-centered">Postponed until 2021 &middot; Vail, CO</h4>

        <p>Welcome{{ repeat }}, {{ name }}!</p>
        <p>Thank you for joining in celebration of our upcoming wedding. We are so excited to share this special day with you. Please use this website to help you plan the details of your journey to Vail.</p>
        <div class="covid">
            <p>We regret to share that due to the current public health concerns, a decision has been made by our venue to cancel all events through October, which included the original date of our wedding. As much as we were excited to welcome you to our celebration, we are grateful that we for the opportunity to now wait until conditions improve and it is safer to ask you to join us. Thus, we have decided to postpone our ceremony and reception until 2021. The safety of our family and friends is and remains our top priority, and we will continue to work with Vail Resorts, Eagle County and our various vendors to create a safe environment for everyone when our day finally arrives.</p>
            <p>While we are finalizing the new date and details, much of the location and timeline details we've shared will remain the same and we will be sending updates to you all soon. We are deeply apologetic to everyone who has already shared their plans to attend and made reservations for travel and accommodations. We wish you all good health during these uncertain times, and can't wait to celebrate with you next year!</p>
        </div>
        <p>We will continue to update this website as we get closer to our big day, so please check back later (<a href="mailto:hello@kathrynandrob.com">or let us know!</a>) if there's something we can help with.</p>
        <p>With love,</p>
        <p>Kathryn & Rob</p>
    {% if rehearsal is True %}
        <p class="special-note">P.S. Since you're invited to the rehearsal dinner, you'll find additional information on the Events page!</p>
    {% endif %}
    <div class="framed-photo">
        <img src="/static/img/gallery/{{ main_image }}" alt="" />
    </div>
    <blockquote>
        <h3 class="has-text-centered"><em>#TheBelleOfTheKimball</em></h3>
    </blockquote>
{#    {% if not logged_in %}#}
{#        <p class="special-note">To help us personalize the information you'll find here, please enter your party's name as it appears on your "Save the Date" envelope below:</p>#}
{#        {% include '_form.html' %}#}
{#        <br />#}
{#    {% endif %}#}
{% endblock %}
