{% extends 'base.html' %}
{% load static %}
{% block metatags %}<meta name="canonical" content="https://kathrynandrob.com/party" />{% endblock %}
{% block title %}Wedding Party{% endblock %}

{% block pagecontent %}
    <div class="party-people">
        <div class="party-person">
            <img src="/static/img/favicon.png" width="200" height="200" alt="Kristen Kinsky" />
            <h2>Kristen Kinsky</h2>
            <h5>Maid of Honor</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/favicon.png" width="200" height="200" alt="Stephen Marlow" />
            <h2>Stephen Marlow</h2>
            <h5>Best Man</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/favicon.png" width="200" height="200" alt="Stephanie Burroghs" />
            <h2>Stephanie Burroghs</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/favicon.png" width="200" height="200" alt="Michael Linneman" />
            <h2>Michael Linneman</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/favicon.png" width="200" height="200" alt="Stephanie Burroghs" />
            <h2>Stephanie Burroghs</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <h2>Jeff Lassen</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <h2>Stephanie Burroghs</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <h2>Alex Flor</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <h2>Stephanie Burroghs</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <h2>Charlie Bodine</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <h2>Stephanie Burroghs</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <h2>Samsone</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <h2>Stephanie Burroghs</h2>
            <h5>Bridesmaid</h5>
        </div>
    </div>
{% endblock %}
