{% extends 'base.html' %}
{% load static %}
{% block metatags %}<meta name="canonical" content="https://kathrynandrob.com/party" />{% endblock %}
{% block title %}Wedding Party{% endblock %}

{% block pagecontent %}
    <div class="party-people">
        <div class="party-person">
            <img src="/static/img/party/kristin.JPG" alt="Kristen Kinsky" />
            <h2>Kristin Kinsky</h2>
            <h5>Maid of Honor</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/party/stephen.jpg" alt="Stephen Marlow" />
            <h2>Stephen Marlow</h2>
            <h5>Best Man</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/party/stephanie.JPG" alt="Stephanie Burroughs" />
            <h2>Stephanie Burroughs</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/favicon.png" alt="Michael Linneman" />
            <h2>Michael Linneman</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/party/paige.JPG" alt="Paige Anderson" />
            <h2>Paige Anderson</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <h2>Jeff Lassen</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/party/lucy.JPG" alt="Lucy Fox" />
            <h2>Lucy Fox</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <h2>Alex Flor</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/party/ana.JPG" alt="Ana Burget" />
            <h2>Ana Burget</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <h2>Charlie Bodine</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/party/elizabeth.JPG" alt="Elizabeth Kimball" />
            <h2>Elizabeth Kimball</h2>
            <h5>Bridesmaid</h5>
        </div>
        <div class="party-person">
            <h2>Samsone Tefera</h2>
            <h5>Groomsman</h5>
        </div>
        <div class="party-person">
            <img src="/static/img/party/ally.JPG" alt="Ally Burget" />
            <h2>Ally Burget</h2>
            <h5>Bridesmaid</h5>
        </div>
    </div>
{% endblock %}
