{% extends 'base.html' %}
{% load static %}
{% block metatags %}<meta name="canonical" content="https://www.kathrynandrob.com/photos" />{% endblock %}
{% block title %}Gallery{% endblock %}

{% block pagecontent %}
    <div class="has-text-centered is-clearfix">
        <h3>Our 2020 Ceremony</h3>
        <h6>September 18, 2020 &middot; Boulder, CO</h6>
        <div class="photos grid">
        {% for url in ceremony_images %}
            <div class="grid-item"><img src="/static/img/ceremony/{{ url }}" alt="" /></div>
        {%  endfor %}
        </div>
    </div>

    <div class="has-text-centered is-clearfix">
        <h3>Engagement Announcement</h3>
        <h6>October 28, 2019 &middot; Central Park, NYC</h6>
        <div class="photos grid">
        {% for url in images %}
            <div class="grid-item"><img src="/static/img/gallery/{{ url }}" alt="" /></div>
        {%  endfor %}
        </div>
    </div>
{% endblock %}

{%  block footerscripts %}
    <script type="module" src="{% static 'js/photos.js' %}"></script>
{% endblock %}
