{% extends 'base.html' %}
{% load static %}
{% block metatags %}<meta name="canonical" content="https://www.kathrynandrob.com/photos" />{% endblock %}
{% block title %}Gallery{% endblock %}

{% block pagecontent %}
    <h3>Our 2020 Ceremony</h3>
    <h5>September 18, 2020, Boulder, CO</h5>
    <div class="photos grid">
    {% for url in ceremony_images %}
        <div class="grid-item"><img src="/static/img/ceremony/{{ url }}" alt="" /></div>
    {%  endfor %}
    </div>

    <h3>Engagement Announcement</h3>
    <h5>October 28, 2019, Central Park, NYC</h5>
    <div class="photos grid">
    {% for url in images %}
        <div class="grid-item"><img src="/static/img/gallery/{{ url }}" alt="" /></div>
    {%  endfor %}
    </div>
{% endblock %}

{%  block footerscripts %}
    <script type="module" src="{% static 'js/photos.js' %}"></script>
{% endblock %}
