{% extends 'base.html' %}
{% load static %}
{% block metatags %}<meta name="canonical" content="https://www.kathrynandrob.com/travel" />{% endblock %}
{% block title %}Travel Information{% endblock %}

{% block pagecontent %}
    <div class="framed-photo">
        <img src="{% static 'img/i70.jpg' %}" alt="The Arabelle at Vail Square" />
    </div>

    <h3>Travel to Vail</h3>
    <p>The nearest large airport is Denver International Airport (DIA), from which it is <a href="https://www.google.com/maps/dir/Denver+International+Airport+(DEN),+8500+Pe%C3%B1a+Blvd,+Denver,+CO+80249/Vail+Square+Ice+Rink,+Lionshead+Place,+Vail,+CO/@39.6790888,-105.8102672,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x876c7f2a98ff44ff:0x49583bb435b59c6a!2m2!1d-104.6737376!2d39.8560963!1m5!1m1!1s0x876a7060c31b3d6f:0x839c537a34193e9e!2m2!1d-106.3888467!2d39.6435988!3e0" target="_blank">about a 2 hour drive</a> to get to Vail. Eagle Country Regional Airport (EGE) is a short 30 minute drive from Vail, though fewer commercial flights are available there. Once you arrive in Vail, a car will largely be unnecessary, so a van or shuttle from the airport may be a good alternative to renting a car.</p>
    <p>While some of the hotels offer valet parking, it will be easiest to park in the <a href="https://www.google.com/maps/place/Lionshead+Parking+Structure/@39.6446379,-106.3859962,15z/data=!4m5!3m4!1s0x0:0x591dcb092f247f!8m2!3d39.6446379!4d-106.3859962" target="_blank">Lionshead Parking Structure</a> which is a short walk from our reception location.</p>
    <p>If you decide not to rent a car you may use <a href="https://www.epicmountainexpress.com/vail-shuttles" target="_blank">the Epic Mountain Shuttle (operated by Vail Resorts)</a> to travel from DIA to Vail. Once you get to Vail there are several free shuttles and buses to help you navigate Vail Village and Lionshead Village, and our ceremony and reception are walkable from numerous hotels in both Lionshead and Vail Village.</p>

    <div class="map">
        <iframe src="https://snazzymaps.com/embed/229488" width="100%" height="400px" style="border:none;"></iframe>
    </div>
    <h3>Lodging</h3>
    <p>Vail is filled with great hotels and numerous AirBnBs as well. For convenience, we recommend you inquire about availability at The Arabelle, which is where our reception will take place.</p>
    <div class="hotel has-text-centered">
        <h5>The Arabelle</h5>
        <p>675 Lionshead Pl</p>
        <p>Vail, CO 81657</p>
        <a href="tel:18886888055">(888) 688-8055</a>
        <p class="is-bold">20% discount with code VG4BOD</p>
    </div>
    <div class="hotel has-text-centered">
        <h5>Vail Marriott Mountain Resort</h5>
        <em>5 minute walk to Eagle Bahn gondola for ceremony and reception venue.</em>
        <p>715 W Lionshead Cir</p>
        <p>Vail, CO 81657</p>
        <a href="tel:19704764444">(970) 476-4444</a>
    </div>
    <div class="hotel has-text-centered">
        <h5>Lodge at Lionshead</h5>
        <em>5 minute walk to gondola and reception venue.</em>
        <p>380 E Lionshead Cir</p>
        <p>Vail, CO 81657</p>
        <a href="tel:19704762700">(970) 476-2700</a>
    </div>
    <div class="hotel has-text-centered">
        <h5>Evergreen Lodge at Vail</h5>
        <em>10 minute walk to gondola and reception venue.</em>
        <p>250 S Frontage Rd W</p>
        <p>Vail, CO 81657</p>
        <a href="tel:19704767810">(970) 476-7810</a>
    </div>
    <h4>Nearby Alternatives</h4>
    <p>If you would prefer to stay outside of Vail, we recommend looking at Avon, Beaver Creek and Edwards, all of which are just a short drive West from Vail along I-70. </p>
    <h3>Activities</h3>
    <img src="/static/img/vail_hike.JPG" style="width: 25%;" class="framed-photo is-pulled-right" />
    <div class="activity">
        <p>Besides the obvious opportunities to hike in the Rockies, there are several other things that we love about Vail that we hope you'll find time to enjoy as well!</p>
        <h5>Vail Oktoberfest</h5>
        <p>The Annual <a href="https://www.vailoktoberfest.com/home">Oktoberfest in Vail Village</a> will be the same weekend as our wedding (not quite a coincidence!). There are lots of vendors and opportunities to break out your steins and lederhosen and celebrate the season with yodeling contests, brat eating and keg bowling.</p>
    </div>
    <div class="activity">
        <h5>Bike Trails & Rentals</h5>
        <p>Vail is a mountain biker's paradise with lots of trails for all levels of difficulty. You can find <a href="https://www.vail.com/explore-the-resort/activities-and-events/summer-activities/mountain-biking.aspx" target="_blank">trail maps, lift prices and rental information on Vail Resorts' website</a>.</p>
    </div>
    <div class="activity">
        <h5>Golf</h5>
        <p><a href="https://www.vailrec.com/vail-recreation/vail-golf-club" target="_blank">The Vail Golf Club</a> is a public 18-hole golf course just East of the village, and several other options just a few miles outside of Vail <a href="https://www.eaglevailgolfclub.com/" target="_blank">in Eagle</a> and <a href="https://www.beavercreek.com/explore-the-resort/activities/summer-activities/golf/beaver-creek-golf-club.aspx" target="_blank">in Beaver Creek</a>.</p>
    </div>
    <div class="activity">
        <h5>Betty Ford Alpine Gardens</h5>
        <p>Vail's <a href="https://bettyfordalpinegardens.org/">free outdoor botanical garden</a> (and the one at the highest elevation in the world!) is open year-round and has a collection of alpine plants. It's a 10 minute walk from Vail Village or a short bus ride from Lionshead Village.</p>
    </div>

{% endblock %}
