{% extends 'base.html' %}
{% load static %}
{% block metatags %}<meta name="canonical" content="https://kathrynandrob.com/travel" />{% endblock %}
{% block title %}Travel Information{% endblock %}

{% block pagecontent %}
    <div class="map">
        <iframe src="https://snazzymaps.com/embed/229488" width="100%" height="400px" style="border:none;"></iframe>
    </div>

    <h3>Travel to Vail</h3>
    <p>The nearest large airport is Denver International Airport, from which it is <a href="https://www.google.com/maps/dir/Denver+International+Airport+(DEN),+8500+Pe%C3%B1a+Blvd,+Denver,+CO+80249/Vail+Square+Ice+Rink,+Lionshead+Place,+Vail,+CO/@39.6790888,-105.8102672,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x876c7f2a98ff44ff:0x49583bb435b59c6a!2m2!1d-104.6737376!2d39.8560963!1m5!1m1!1s0x876a7060c31b3d6f:0x839c537a34193e9e!2m2!1d-106.3888467!2d39.6435988!3e0" target="_blank">about a 2 hour drive</a> to get to Vail.</p>
    <p>If you don't want to rent a car you may use <a href="https://www.epicmountainexpress.com/vail-shuttles" target="_blank">the Epic Mountain Shuttle (operated by Vail Resorts)</a> instead. Once you get to Vail there are several free shuttles and buses to help you navigate Vail Village and Lionshead Village.</p>

    <h3>Hotels</h3>
    <h5>Nearby Alternatives</h5>
    <h3>Activities</h3>
    <img src="/static/img/vail_hike.JPG" style="width: 25%;" class="framed-photo is-pulled-right" />
    <p>We love to hike and you should too.</p>

{% endblock %}
